html,
body {
    background: linear-gradient(180deg, white, rgb(214, 219, 224));
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Inter', Helvetica, sans-serif;
    height: 100%;
}

input:focus-visible {
    /* outline: 2px solid rgba(0, 0, 65, 0.136); */
    outline: 1px solid rgba(161, 161, 161, 0.2) !important;
    /* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.00005, 0, 0, 1, 0, 0, 0, 0, 0.975); */
}


.emoji {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

#star-image {
    aspect-ratio: 32/2;
    width: 100%;
    background-color: rgba(220, 220, 220, 0.309);
    border-radius: 4px;
}

.markdown {
    word-break: break-all;
}